@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: #141e30;
    background: -webkit-linear-gradient(to right, #243b55, #141e30);
    background: linear-gradient(to right, #243b55, #141e30);
    font-family: "Poppins", sans-serif;
    min-height: 100hv;
  }
}
